.logo {
  height: 200px;
  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.cim {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  -webkit-text-stroke: 0.75px black;
  font-weight: 500;
}

.menu {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  padding: 20px;
  border-radius: 44px;
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  top: -100px;
  > button {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    background-color: darkcyan;
  }
  #fo:hover, #akt:hover, #idopont:hover, #kapcsolat:hover, #ref:hover {
    background-color: plum;
  }
}

.content {
  height: calc(100vh - 205px);
  background-image: url("../images/bg.jpg");
  margin-top: -75px;
  background-size: cover;

}
